body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center
}
.button {
  padding: 5px 10px;
  background-color: white;
  font-weight: bold;
}
.button:hover {
  background-color: #9e9e9e;
}

main {
  background: #ffffff;
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.nav-left#sidebar {
  float: left;

  background: #9e9e9e;
  border-radius: 5px;
  height:550px;
  width: 12%;
  text-decoration: none;
  margin-bottom: 6px;
}

.knop {
  margin: 10px;
  display: block;
  text-decoration: none;
  padding: 8px 10px;
}.knop {
  margin: 10px;
  display: block;
  text-decoration: none;
  padding: 8px 10px;
}

.knop:hover {
  margin: 10px;
  display: block;
  background-color: hsl(242, 40%, 34%);
  text-decoration: none;
  padding: 8px 10px;
}

.content-right {
  overflow: scroll;
  float: right;
  position: sticky;
  max-height: 550px;
  min-height: 550px;
  width: 88%;
}

.privacyverklaring {
  margin-left: 40%;
}

.content-right#main {
  position: sticky;
  text-align: center;
padding-top: 100px;
}

ul {
  list-style: none;
  margin: 5px;
  padding: 1px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
table{
  border: 1px solid #000000;
  border-collapse: separate;
  border-spacing: 0px;
}

th{
  position: sticky;
  top: 0px;

  background-color: hsl(242, 40%, 34%);
  color: #ffffff;
}

.table-wrapper{
max-height: 450px;
overflow: scroll;
margin: 20px;
}

th, td{
  border: 1px solid black;
}

.outer-wrapper{
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  margin: 20px;
}

.form-control{
  background-color: #f8f9fa;
  padding: 10px;
  padding: 3px 5px;
  margin-bottom: 0.8rem;
}

.form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;
}

.btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover {
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;
}

nav {
  background: hsl(131, 40%, 34%);
  color: #000000;
  height: 50px;
}

nav ul.flex-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
}

nav ul.flex-menu li {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 2px;
  height: 45px;
  width: 35px;
}

.containermain {
 text-align: center;
 border: 3px solid #555454;
 padding: 10px;
 margin: 12% 35% 0px 40%;
}

@media screen and (max-width: 500px) {
  .nav-left#sidebar {
    float: none;
    width: 100%;
  }
}

footer {
  clear: both;
  position: sticky;
  background: hsl(137, 40%, 34%);
  height: 40px;
  text-align: center;
}

.bestellingoverzicht {
    margin: 3% 5% 5% 15%;
}

.detailoverzicht {
    margin: 3% 5% 5% 15%;
}